$body-bg: #fff;
$body-color: #212529;
$white: #fff;
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$grid-breakpoints: (
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
);
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$theme-colors: (
        "primary": #19578c,
        "secondary": #000000,
        "info": #17a2b8
);

@import 'bootstrap';

@function get-theme-color($key) {
  @return map-get($theme-colors, $key);
}

body {
  color: $body-color;
  background-color: $body-bg;
  font-family: $font-family-base;
}

header {
  @extend .bg-light;
  @extend .border-bottom;
  @extend .py-3;
  @extend .px-4;
  background-image: url("../../assets/left-banner.png");
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;

  img {
    @extend .img-fluid;
  }
}

.hamburger {
  @extend .d-md-none;
  @extend .position-absolute;
  @extend .top-0;
  @extend .end-0;
  @extend .p-3;
}

nav {
  @extend .d-none;
  @extend .d-lg-flex;
  @extend .align-items-center;
  @extend .justify-content-end;

  ul {
    @extend .list-unstyled;
    display: flex;

    li {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: get-theme-color("primary");

        &:hover {
          color: darken(get-theme-color("primary"), 10%);
        }
      }
    }
  }
}

.close-menu {
  @extend .d-none;
}

.user-info {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;

  li {
    @extend .list-unstyled;
    padding-right: 1rem;
    color: $white;
  }
}


@media (max-width: $breakpoint-mobile) {
  header {
    flex-direction: column;
    align-items: flex-end;

    .logo {
      //margin-bottom: 1rem;
      //max-width: 80%;
      //height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 60%;
        height: auto;
        margin: auto;
      }
    }

    .hamburger {
      position: absolute;
      top: 0;
      right: 0; // Ensure it's at the top-right corner
      padding: 12px;
      z-index: 1050; // Higher than most other elements
      display: block;

      border: none;
      box-shadow: none;
      background: none;

      fa-icon {
        color: white;
      }
    }

    .menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background: url("../../assets/left-banner.png");
      color: #FFFFFF;
      display: none;
      flex-direction: column;
      z-index: 1000;
      justify-content: center;
      align-items: center;
      a {
        color: inherit;
      }

      &.active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        right: 0;
        padding-top: 8rem;

        .close-menu {
          display: block;
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
      }
    }

    .user-info {
      flex: 0 0 auto; // User info will not grow or shrink, respecting its content size
      order: 2; // Ensures user-info is placed on the right
      margin-left: auto; // Pushes everything to the right
      display: flex;
      align-items: center;
    }
    li {
      font-size: 1.2em;
      margin-bottom: 3rem;
    }
    nav {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  header {
    flex-direction: column;
    align-items: center;

    .logo img {
      max-width: 60%;
      margin: auto;
      //margin-left: 8rem;
    }

    .hamburger {
      display: block;
      order: 2;
      position: absolute;
      top: 1.6rem;
      right: 1rem;
    }

    .menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background: url("../../assets/left-banner.png");
      color: #FFFFFF;
      display: none;
      flex-direction: column;
      z-index: 1000;
      justify-content: center;
      align-items: center;

      li {
        font-size: 2rem;
        margin-bottom: 3rem;
      }

      &.active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        right: 0;
        padding-top: 8rem;

        .close-menu {
          display: block;
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
      }
    }

    .user-info {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    nav {
      display: none;
    }
  }
  @media (min-width: $breakpoint-desktop) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        img {
          max-width: 80%;
        }
      }

      .user-info {
        margin-left: auto; // Pushes the user-info to the right
        align-items: center; // Keeps items vertically aligned
        display: flex; // This is crucial to enable flexbox properties
        justify-content: flex-end;
      }
    }
  }
}





