<header>
  <div class="logo">
    <img src="assets/SweatBank-Logo.png" alt="Logo">
  </div>
  <button class="hamburger" *ngIf="!menuActive" aria-label="Toggle menu" (click)="toggleMenu()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <button class="close-menu" *ngIf="menuActive" aria-label="Close menu" (click)="toggleMenu()">X</button>

  <div class="overlay" *ngIf="menuActive" (click)="toggleMenu()"></div>

  <div class="menu" [ngClass]="{'active': menuActive}">
    <button class="close-menu" *ngIf="menuActive" aria-label="Close menu" (click)="toggleMenu()">X</button>
    <ul class="user-info"></ul>


<ul class="user-info">
      <li class="name-surname">{{ userName }} {{ userSurname }}</li>
  <!-- <a href="#" (click)="navigateToBottom()" [routerLink]="['/']" fragment="bottom"><</a> -->

      <li class="notifications"><a href="#"><fa-icon [icon]="faBell"></fa-icon> Notifications</a></li>
      <li class="contacts"><a href="#"><fa-icon [icon]="faComments"></fa-icon> Contacts</a></li>
      <li class="logout"><a href="#" (click)="logout()"><fa-icon [icon]="faArrowRightFromBracket"></fa-icon> Log Out</a>
      </li>
    </ul>
  </div>
</header>
