<footer id="page-bottom">
  <hr class="footer-line">
  <div class="footer-content">
    <div class="footer-text">
      <div id="bottom"></div>
      <p>Contact us: <span class="contact-info">+370 5 111 111</span>, <span class="contact-info">+370 5 111 112</span></p>
    <p>Email us: <span class="contact-info">info&commat;sweatbank.com</span></p>
    <p>„Sweatbank“ Customer Service working hours: I‑V 8:00‑18:00</p>
    <p></p>
    <p>© 2024 All rights reserved. Sweatbank.</p>
    </div>
  </div>
</footer>
