footer {
  text-align: center;
  background-color: white;
  padding: 20px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  footer {
    position: relative;
    z-index: 1000;
  }
}
