<footer class="text-dark py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <h5>Contact Information</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-telephone"></i> +370 5 111 111</li>
          <li><i class="bi bi-telephone"></i> +370 5 111 112</li>
          <li><i class="bi bi-envelope"></i> info&#64;sweatbank.com</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5>Customer Service Hours</h5>
        <p>Monday - Friday: 8:00 AM - 6:00 PM</p>
      </div>
    </div>
  </div>
</footer>
