<header class="p-3 mb-3">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-end">
      <a href="#" class="d-block link-dark text-decoration-none " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-flex align-items-center justify-content-end">
          <img src="https://github.com/mdo.png" alt="mdo" width="50" height="50" class="rounded-circle me-2">
          <div>
            <div>Username</div>
            <div class="text-muted">Admin</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</header>
<nav class="sidebar" [ngClass]="{'close': isClosed}">
  <header>
    <div class="image-text">
      <span class="image">
        <img src="favicon.ico" alt="">
      </span>
      <div class="text logo-text">
        <span class="name">SweatBank</span>
        <span class="profession">Admin Panel</span>
      </div>
    </div>
    <div class="toggle-button-phone">
      @if(this.isClosed) {
        <i class="bi bi-caret-left-fill toggle" (click)="toggleSidebar()"></i>
      } @else {
        <i class="bi bi-caret-right-fill toggle" (click)="toggleSidebar()"></i>
      }
    </div>
  </header>
  <div class="menu-bar" data-np-autofill-form-type="other" data-np-checked="1" data-np-watching="1">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <a routerLink="/admin/inbox">
            <i class="bi bi-envelope icon"></i>
            <span class="text nav-text">Inbox</span>
          </a>
        </li>
        <li class="nav-link">
          <a routerLink="/admin/applications" class="active">
            <i class="bi bi-clipboard2-check icon"></i>
            <span class="text nav-text">Applications</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="bottom-content">
      <li class="">
        <a href="#">
          <i class="bi bi-box-arrow-right icon"></i>
          <span class="text nav-text">Logout</span>
        </a>
      </li>
    </div>
  </div>
</nav>

<section class="home">
  <div class="container-fluid">
    <div class="text">Application List</div>
  </div>
  <div class="container-fluid">
    <div class="table-responsive p-5">
      <table class="table table-striped table-bordered table-sm row-border hover" id="applications">
        <thead>
          <tr>
            <th>Status</th>
            <th>Id</th>
            <th>Date</th>
            <th>Personal Id</th>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Phone No</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
            @for (row of data?.leases; track $index) {
              <tr>
                <th>
                  @if(row.status === 'PENDING') {
                    <span class="badge text-bg-warning p-1">{{row.status}}</span>
                  } @else if (row.status === 'APPROVED') {
                    <span class="badge text-bg-success p-1">{{row.status}}</span>
                  } @else if (row.status === 'REJECTED') {
                    <span class="badge text-bg-danger p-1">{{row.status}}</span>
                  } @else if (row.status === 'NEW') {
                    <span class="badge text-bg-secondary p-1">{{row.status}}</span>
                  } 
                </th>
                <th>{{row.id}}</th>
                <th>{{row.date}}</th>
                <th>{{row.personalId}}</th>
                <th>{{row.name}}</th>
                <th>{{row.email}}</th>
                <th>{{row.phone}}</th>
                <th></th>
              </tr>
            }
        </tbody>
      </table>
    </div>
  </div>
</section>
