<section class="home">
  <div class="container-fluid">
    <div class="text">Application List</div>
  </div>
  <div class="container-fluid">
    <div class="table-responsive p-5">
      <table
        class="table table-striped table-bordered table-sm row-border hover"
        id="applications"
      >
        <thead>
          <tr>
            <th class="text-start">Status</th>
            <th class="text-start">Id</th>
            <th class="text-start">Date</th>
            <th class="text-start">Personal Id</th>
            <th class="text-start">Full Name</th>
            <th class="text-start">Email Address</th>
            <th class="text-start">Phone No</th>
            <th class="text-start">Reviewer</th>
            <th class="text-start">Message</th>
          </tr>
        </thead>
        <tbody>
          @if(isLoading) {
          <tr>
            <td colspan="9">
              <div class="d-flex justify-content-center align-items-center p-2">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </td>
          </tr>
          } @for (row of data?.leases; track $index) {
          <tr>
            <td class="text-start">
              @if (row.status.toUpperCase() === "PENDING") {
              <span class="badge bg-warning text-dark">{{ row.status }}</span>
              } @else if (row.status.toUpperCase() === "APPROVED") {
              <span class="badge bg-success">{{ row.status }}</span>
              } @else if (row.status.toUpperCase() === "REJECTED") {
              <span class="badge bg-danger">{{ row.status }}</span>
              } @else if (row.status.toUpperCase() === "NEW") {
              <span class="badge bg-info text-dark">{{ row.status }}</span>
              }
            </td>
            <td class="text-start">
              <ins
                ><a
                  (click)="openModal(row.applicationId)"
                  style="cursor: pointer"
                  >{{ row.applicationId }}</a
                ></ins
              >
            </td>
            <td class="text-start">{{ row.creationDate }}</td>
            <td class="text-start blur">{{ row.personalId }}</td>
            <td class="text-start">{{ row.fullName }}</td>
            <td class="text-start">{{ row.email }}</td>
            <td class="text-start">{{ row.phone }}</td>
            <td class="text-start">
              @if(row.automationStatus == 'AUTOMATED') {
              <div>
                <i tooltip="Automated" class="bi bi-robot"></i>
              </div>
              } @else {
              <div>
                <i tooltip="Admin" class="bi bi-person"></i>
              </div>
              }
            </td>
            <td class="text-start">
              <a
                class="bi bi-envelope text-dark"
                [routerLink]="['/admin/inbox', { email: row.email }]"
              ></a>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- Modal -->

<div
  class="modal fade"
  bsModal
  #modal="bs-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-events-name"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    @if (selectedEntity) {
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          #{{ selectedEntity.applicationId }}
        </h1>
        <div class="ps-3">
          @if (selectedEntity.status.toUpperCase() === "PENDING") {
          <span class="badge bg-warning text-dark">{{
            selectedEntity.status
          }}</span>
          } @else if (selectedEntity.status.toUpperCase() === "APPROVED") {
          <span class="badge bg-success">{{ selectedEntity.status }}</span>
          } @else if (selectedEntity.status.toUpperCase() === "REJECTED") {
          <span class="badge bg-danger">{{ selectedEntity.status }}</span>
          } @else if (selectedEntity.status.toUpperCase() === "NEW") {
          <span class="badge bg-info text-dark">{{
            selectedEntity.status
          }}</span>
          }
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="modal.hide()"
        ></button>
      </div>
      <div class="modal-body p-5">
        <form [formGroup]="applicationForm">
          <h4 class="row text-center mb-0 justify-content-start pb-2">
            Personal Information
          </h4>
          <div class="row border-bottom">
            <div class="col border-end">Job title</div>
            <div class="col">
              {{ selectedEntity.jobTitle }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Time employed (years)</div>
            <div class="col">
              {{ selectedEntity.timeEmployed }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Marital status</div>
            <div class="col">
              {{ formatMaritalStatus(selectedEntity.maritalStatus) }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Number of children</div>
            <div class="col">
              {{ selectedEntity.numberOfChildren }}
            </div>
            <div class="col"></div>
          </div>
          <h4 class="row text-center mb-0 justify-content-start pt-4 pb-2">
            Car and Financing Conditions
          </h4>
          <div class="row border-bottom">
            <div class="col border-end">Car</div>
            <div class="col border-end">
              {{ selectedEntity.carBrand }} {{ selectedEntity.carModel }}
              {{ selectedEntity.carManufactureYear }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Leasing period (months)</div>
            <div class="col border-end">
              <select class="form-select" formControlName="leasingPeriod">
                @for (months of leasingPeriodMonths; track $index) {
                <option [value]="months">{{ months }}</option>
                }
              </select>
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Cost of car</div>
            <div class="col border-end">
              {{ selectedEntity.carCost }} {{ currency }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Currency</div>
            <div class="col border-end">{{ currency }}</div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Down Payment %</div>
            <div class="col border-end">
              <input
                class="form-control"
                type="number"
                formControlName="downPaymentPercentage"
              />
            </div>
            <div class="col">
              {{ selectedEntity.downPayment }} {{ currency }}
            </div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Contract fee %</div>
            <div class="col border-end">1</div>
            <div class="col">
              {{ selectedEntity.contractFee }} {{ currency }}
            </div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Interest base %</div>
            <div class="col border-end input-group">
              <select
                class="form-select"
                formControlName="euriborType"
                (change)="changeEuribor($event)"
              >
                @for (singleTerm of euriborData; track singleTerm.term) {
                <option [value]="singleTerm.term">
                  {{ formatEuriborRes(singleTerm.term) }}
                </option>
                }
              </select>
            </div>
            <div class="col">
              <input
                class="form-control"
                type="number"
                step="0.001"
                formControlName="euriborRate"
              />
            </div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Margin %</div>
            <div class="col border-end input-group">
              <input
                class="form-control"
                type="number"
                step="0.001"
                formControlName="margin"
              />
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Interest rate %</div>
            <div class="col border-end">
              {{ selectedEntity.interestRate | number }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Monthly payment</div>
            <div class="col border-end">
              {{ selectedEntity.monthlyPayment }} {{ currency }}
            </div>
            <div class="col"></div>
          </div>
          <h4 class="row text-center mb-0 justify-content-start pt-4 pb-3">
            Solvency Assessment
          </h4>
          @if(isSolvencyLoading) {
          <div class="d-flex justify-content-center align-items-center p-2">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          } @else {
          <div class="row border-bottom">
            <div class="col border-end">Net income</div>
            <div class="col">
              {{ solvencyResponse?.netIncome }} {{ currency }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">
              Monthly payment of the considered loan
            </div>
            <div class="col">
              {{ solvencyResponse?.currentMonthlyPayment }} {{ currency }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">
              Monthly payment of existing obligations
            </div>
            <div class="col">
              {{ solvencyResponse?.otherMonthlyPayments }} {{ currency }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">New monthly payment</div>
            <div class="col">
              {{ solvencyResponse?.newMonthlyPayment }} {{ currency }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Household expenditure</div>
            <div class="col">
              {{ solvencyResponse?.householdExpenditure }} {{ currency }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Monthly living expenses</div>
            <div class="col">
              {{ solvencyResponse?.monthlyLivingExpenses }} {{ currency }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Loan service rate %</div>
            <div class="col" [ngStyle]="{ color: getLoanServiceRateColor() }">
              {{ solvencyResponse?.loanServiceRate }}
            </div>
            <div class="col"></div>
          </div>
          }
        </form>
      </div>
      <div class="modal-footer">
        @if (!isApprovedOrRejected()) {
        <button
          data-bs-dismiss="modal"
          (click)="saveApplication()"
          type="button"
          class="btn btn-primary"
        >
          Save
        </button>
        <button
          data-bs-dismiss="modal"
          (click)="approveApplication()"
          type="button"
          class="btn btn-success"
        >
          Approve
        </button>
        <button
          data-bs-dismiss="modal"
          (click)="rejectApplication()"
          type="button"
          class="btn btn-danger"
        >
          Reject
        </button>
        }
      </div>
    </div>
    }
  </div>
</div>