@import "../../../../styles/styles.scss";
@import "../../../../styles/variables.scss";

thead {
  padding: 200px;
}
.home {
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: all 0.3s ease;
  margin-top: 85px;
  background-color: white;
  height: 90.75%;
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: #707070;
  padding: 12px 60px;
}

.applications {
  box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.14);
  border-color: transparent;
  border-radius: $border-radius;

  .head {
    border-radius: $border-radius;
  }

  .body {
    border-radius: $border-radius;
    .data-row {
      border-radius: $border-radius;
      .data-text {
        border-bottom-left-radius: $border-radius;
      }
      .data-message {
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}

.data-row {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.mail-icon {
  color: black;
}

.mail-icon:hover {
  color: $primary;
}

@media (max-width: 768px) {
  .home {
    left: 88px;
    width: calc(100% - 88px);
    margin-top: 85px;
  }
}

// MODAL
.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

.form-control,
.form-select {
  border: 0;
  padding: 0;
  text-wrap: wrap;
}

.input-group-addon {
  background-color: #fff;
}
.input-group .input-group-addon + .form-control {
  border-left: none;
}

.input-group {
  width: fit-content;
}

.blur {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.blur:hover {
  color: black;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0);
}
