@import "../../../../styles/styles.scss";
@import "../../../../styles/variables.scss";
.home {
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: all 0.3s ease;
  margin-top: 85px;
  background-color: rgba(141, 180, 196, 0.5);
  height: 90.75%;
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: #707070;
  padding: 12px 60px;
}

@media (max-width: 768px) {
  .home {
    left: 88px;
    width: calc(100% - 88px);
    margin-top: 85px;
  }
}

// MODAL
.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

.form-control,
.form-select {
  border: 0;
  padding: 0;
  text-wrap: wrap;
}

.input-group-addon {
  background-color: #fff;
}
.input-group .input-group-addon + .form-control {
  border-left: none;
}

.input-group {
  width: fit-content;
}

.blur {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.blur:hover {
  color: black;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

input:disabled,
select:disabled {
  background-image: none;
  background-color: #fff !important;
  border: none !important;
  padding: 0px !important;
}

input,
select {
  border: 1px solid #2e93ff !important;
  background-color: #f8f9fa !important;
  padding: 5px !important;
  transition: border-color 0.2s ease-in-out !important;
}
