@import "../../../../../styles/variables.scss";

.container.main {
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: $border-radius;
  padding-block: 20px;
  padding-inline: 30px;
}

.container.inner {
  min-height: auto;
}

.wrapper {
  min-height: calc(100vh - 195px);
}

.field-names p {
  font-weight: 500;
}

// Only for mobile and not tablets
@media only screen and (max-width: 992px) {
  .wrapper {
    min-height: calc(100vh - 304px);
  }
}
