<div class="container wrapper">
  <div class="container main">
    <a (click)="goBackToHome()" class="btn btn-outline-dark mb-3"><i class="bi pe-2 bi-arrow-left-circle"></i>Back</a>
    <h3 class="mt-4 border-bottom pb-3 text-center">Personal Information</h3>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6">
            <p class="fw-bold">Email:</p>
          </div>
          <div class="col-sm-6">
            <p>{{ accountData.username }}</p>
          </div>
          <div class="col-sm-6">
            <p class="fw-bold">First name:</p>
          </div>
          <div class="col-sm-6">
            <p>{{ accountData.first_name }}</p>
          </div>
          <div class="col-sm-6">
            <p class="fw-bold">Last name:</p>
          </div>
          <div class="col-sm-6">
            <p>{{ accountData.last_name }}</p>
          </div>
          <div class="col-sm-6">
            <p class="fw-bold">Phone number:</p>
          </div>
          <div class="col-sm-6">
            <p>{{ accountData.phone_number }}</p>
          </div>
          <div class="col-sm-6">
            <p class="fw-bold">Address:</p>
          </div>
          <div class="col-sm-6">
            <p>{{ accountData.address }}</p>
          </div>
          <div class="col-sm-6">
            <p class="fw-bold">Birth date:</p>
          </div>
          <div class="col-sm-6">
            <p>{{ accountData.birth_date }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
