<section class="home">
  <div class="container-fluid">
    <div class="text">Dashboard</div>
  </div>
  <div class="container-fluid">
    <div class="row px-5">
      <div
        class="col-3 text-center d-flex row justify-content-center align-items-center mb-5"
      >
        <span class="card rounded-circle new-applications">
          <div
            class="card-body text-center d-flex justify-content-center align-items-center"
          >
            <h2 class="application-count">
              @if (isLoading) {
              <fa-icon [icon]="faSpinner" animation="spin" />
              } @else {
              {{ cardData["amountOfNewLeases"] }}
              }
            </h2>
          </div>
        </span>
        <div class="card-title mb-9 fw-semibold">New Applications</div>
      </div>
      <div
        class="col-3 text-center d-flex row justify-content-center align-items-center mb-5"
      >
        <span class="card rounded-circle pending-applications">
          <div
            class="card-body text-center d-flex justify-content-center align-items-center"
          >
            <h2 class="application-count">
              @if (isLoading) {
              <fa-icon [icon]="faSpinner" animation="spin" />
              } @else {
              {{ cardData["amountOfPendingLeases"] }}
              }
            </h2>
          </div>
        </span>
        <h6 class="card-title mb-9 fw-semibold">Pending Applications</h6>
      </div>
      <div
        class="col-3 text-center d-flex row justify-content-center align-items-center mb-5"
      >
        <span class="card rounded-circle approved-applications">
          <div
            class="card-body text-center d-flex justify-content-center align-items-center"
          >
            <h2 class="application-count">
              @if (isLoading) {
              <fa-icon [icon]="faSpinner" animation="spin" />
              } @else {
              {{ cardData["amountOfApprovedLeases"] }}
              }
            </h2>
          </div>
        </span>
        <h6 class="card-title mb-9 fw-semibold">Approved Applications</h6>
      </div>
      <div
        class="col-3 text-center d-flex row justify-content-center align-items-center mb-5"
      >
        <span class="card rounded-circle rejected-applications">
          <div
            class="card-body text-center d-flex justify-content-center align-items-center"
          >
            <h2 class="application-count">
              @if (isLoading) {
              <fa-icon [icon]="faSpinner" animation="spin" />
              } @else {
              {{ cardData["amountOfRejectedLeases"] }}
              }
            </h2>
          </div>
        </span>
        <h6 class="card-title mb-9 fw-semibold">Rejected Applications</h6>
      </div>
    </div>
    <div class="row px-5">
      <div>
        @if (isLoading) {
        <h4 class="mb-3 text-center">
          <fa-icon [icon]="faSpinner" animation="spin" />
        </h4>
        }
        <canvas id="canvas" class="canvas" style="height: 40vh"></canvas>
      </div>
    </div>
  </div>
</section>
