<section class="home">
    <div class="container-fluid">
      <div class="text">Dashboard</div>
    </div>
    <div class="container-fluid">
      <div class="row px-5">
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row alig n-items-start">
                <div class="col-8">
                  <h5 class="card-title mb-9 fw-semibold"> New Applications </h5>
                  <h4 class="mb-3">
                    @if (isLoading) {
                      <fa-icon [icon]="faSpinner" animation="spin" />
                    } @else {
                      {{cardData['amountOfNewLeases']}}
                    }
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-start">
                <div class="col-8">
                  <h5 class="card-title mb-9 fw-semibold"> Pending Applications </h5>
                  <h4 class="mb-3">
                    @if (isLoading) {
                      <fa-icon [icon]="faSpinner" animation="spin" />
                    } @else {
                      {{cardData['amountOfPendingLeases']}}
                    }
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row alig n-items-start">
                <div class="col-8">
                  <h5 class="card-title mb-9 fw-semibold"> Approved Applications </h5>
                  <h4 class="mb-3">
                    @if (isLoading) {
                      <fa-icon [icon]="faSpinner" animation="spin" />
                    } @else {
                      {{cardData['amountOfApprovedLeases']}}
                    }
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row alig n-items-start">
                <div class="col-8">
                  <h5 class="card-title mb-9 fw-semibold"> Rejected Applications </h5>
                  <h4 class="mb-3">
                    @if (isLoading) {
                      <fa-icon [icon]="faSpinner" animation="spin" />
                    } @else {
                      {{cardData['amountOfRejectedLeases']}}
                    }
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row px-5">
        <div>
          <canvas id="canvas" class="canvas" style="height:40vh;"></canvas>
        </div>
      </div>
    </div>
  </section>