<header class="p-3 mb-3">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-end me-5">
      <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-flex align-items-center justify-content-end">
          <img src="../../../../assets/adminUser.png" alt="mdo" width="50" height="50" class="rounded-circle me-2">
          <div>
            <div>Username</div>
            <div class="text-muted">Admin</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</header>
