footer {
  text-align: center;
  background-color: white;
  padding: 20px 0;
  width: 100%;
  position: relative; /* Change from fixed to relative positioning */
}

@media only screen and (max-width: 600px) {
  footer {
    position: static; /* Change position to static for mobile */
    margin-top: 20px; /* Add some margin at the top */
  }
}
