<header class="p-3 mb-3">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-end me-5">
        <div class="d-flex align-items-center justify-content-end">
          <img src="../../../../assets/adminUser.png" alt="mdo" width="50" height="50" class="rounded-circle me-2">
          <div>
            <div>{{ this.username }}</div>
            <div class="text-muted">{{ this.role }}</div>
          </div>
        </div>
      </div>
    </div>
</header>
<nav class="sidebar">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="favicon.ico" alt="">
        </span>
        <div class="text logo-text">
          <span class="name">SweatBank</span>
          <span class="profession">Admin Panel</span>
        </div>
      </div>
    </header>
    <div class="menu-bar" data-np-autofill-form-type="other" data-np-checked="1" data-np-watching="1">
      <div class="menu">
        <li class="nav-link">
          <a routerLink="/admin/dashboard">
            <i class="bi bi-building icon icon"></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-link">
          <a routerLink="/admin/applications">
            <i class="bi bi-clipboard2-check icon"></i>
            <span class="text nav-text">Applications</span>
          </a>
        </li>
        <li class="nav-link">
          <a routerLink="/admin/inbox">
            <i class="bi bi-envelope icon"></i>
            <span class="text nav-text">Inbox</span>
          </a>
        </li>
      </div>
      <div class="bottom-content">
        <li class="nav-link" style="cursor: pointer;">
          <a (click)="logout()">
            <i class="bi bi-box-arrow-right icon"></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>
