<section class="home">
  <div class="text">Inbox</div>
</section>
<section class="home">
  <div class="email-categories-sidebar">
    <div
      class="email-category"
      [class.active]="activeCategory === 'inbox'"
      (click)="filterEmails('inbox')"
    >
      <i class="bi bi-inbox"></i>
      <span>Inbox</span>
      <span class="category-count">{{ emailCount }}</span>
    </div>
    <div class="compose-btn-container">
      <button class="btn bg-primary" (click)="composeNewEmail()">
        Compose New Email
      </button>
    </div>
  </div>

  <div class="inbox-container">
    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search messages..."
      />
    </div>
    <div
      *ngFor="let email of filteredEmails"
      class="message"
      (click)="toggleEmailDetail(email)"
    >
      <div class="message-checkbox" (click)="$event.stopPropagation()">
        <input type="checkbox" [id]="'checkbox' + email.id" />
        <label [for]="'checkbox' + email.id"></label>
      </div>
      <div class="message-star">
        <i class="bi bi-star"></i>
      </div>
      <div class="message-content">
        <div class="message-header">
          <div class="message-sender">{{ email.sender }}</div>
          <div class="message-details">
            <div class="message-time">{{ email.time | date : "short" }}</div>
            <button
              class="delete-button"
              (click)="deleteEmail(email); $event.stopPropagation()"
            >
              Delete
            </button>
          </div>
        </div>
        <div *ngIf="email.open" class="message-body">{{ email.body }}</div>
        <div class="message-subject">{{ email.subject }}</div>
      </div>
    </div>

    <div *ngIf="composingEmail" class="compose-email-modal">
      <div class="compose-email-content">
        <div class="compose-email-header d-flex column">
          <h3>Compose New Email</h3>
          <button class="close-button" (click)="cancelCompose()">
            <h2>&times;</h2>
          </button>
        </div>
        <input
          type="email"
          [(ngModel)]="newEmailRecipient"
          placeholder="Recipient's email"
        />
        <input
          type="text"
          [(ngModel)]="newEmailSubject"
          placeholder="Subject"
        />
        <textarea
          [(ngModel)]="newEmailBody"
          rows="3"
          placeholder="Email body..."
        ></textarea>
        <button class="btn btn-primary text-white" (click)="sendNewEmail()">
          @if (isSendingEmail) {
            <fa-icon [icon]="faSpinner" animation="spin" />
          } @else {
            Send
          }
        </button>
      </div>
    </div>
  </div>
</section>
