<ul class="list-group">
  @for (item of data.entities; track item.id) {
  <li data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal(item.id)" class="list-group-item">
    {{item.id}}</li>
  }
</ul>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    @if (selectedEntity) {
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{selectedEntity.id}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="row border-top text-center mb-0  justify-content-center">Car and Financing Conditions</h4>
        <form [formGroup]="applicationForm">
          <div class="row border-bottom border-top">
            <div class="col border-end">Car</div>
            <div class="col border-end">{{selectedEntity.car}}</div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">
              Leasing period (months)</div>
            <div class="col border-end">
              <input class="form-control" type="number" formControlName="leasingPeriod">
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Cost of car</div>
            <div class="col border-end">{{selectedEntity.costOfCar}} EUR
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Currency</div>
            <div class="col border-end">EUR</div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Down Payment %</div>
            <div class="col border-end">
              <input class="form-control" type="number" formControlName="downPaymentPercentage">
            </div>
            <div class="col">
              {{selectedEntity.downPaymentAmount}} EUR
            </div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Contract fee %</div>
            <div class="col border-end">1</div>
            <div class="col">{{selectedEntity.contractFeeAmount}} EUR</div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Down payment source</div>
            <div class="col border-end">{{selectedEntity.downPaymentSource}}</div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Interest base %</div>
            <div class="col border-end input-group">
              <select class="form-select" formControlName="euriborType" (change)="changeEuribor($event)">
                @for (singleTerm of euriborData; track singleTerm.term) {
                <option [value]="singleTerm.term">{{singleTerm.term}}</option>
                }

              </select>
            </div>
            <div class="col">
              {{selectedEntity.euriborRate}}
            </div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Margin %</div>
            <div class="col border-end input-group">
              <input class="form-control" type="number" step="0.001" formControlName="margin">
            </div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Interest rate %</div>
            <div class="col border-end">{{selectedEntity.interestRate | number}}</div>
            <div class="col"></div>
          </div>
          <div class="row border-bottom">
            <div class="col border-end">Monthly payment</div>
            <div class="col border-end">{{selectedEntity.monthlyPaymentAmount}} EUR</div>
            <div class="col"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" (click)="saveApplication()" type="button" class="btn btn-primary">Save</button>
        <button data-bs-dismiss="modal" (click)="approveApplication()" type="button"
          class="btn btn-success">Approve</button>
        <button data-bs-dismiss="modal" (click)="rejectApplication()" type="button"
          class="btn btn-danger">Reject</button>
      </div>
    </div>
    }
  </div>
</div>