<div class="container">
  <div class="container-left">
    <div class="content-left">
      <img class="app-logo" src="../../assets/sweat-bank-logo.png" alt="SweatBank logo">
      <h1>Calculate Your Vehicle Loan</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed sollicitudin ex. Praesent commodo eget
        ipsum in scelerisque. Phasellus commodo lacus ipsum, placerat euismod tellus condimentum vel. Duis faucibus orci
        id posuere tempus.</p>
    </div>
  </div>
  <div class="container-right">
    <div class="content-right">
      <h2>Sign in</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-input" id="email" name="email" formControlName="email">
          @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched)
          {
          <span>Please enter a valid email address</span>
          }
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Your password</label>
          <div class="input-container">
            <input [type]="passwordVisible ? 'text': 'password'" class="form-input" id="password" name="password"
              formControlName="password">
            <fa-icon [icon]="passwordVisible ? faEye : faEyeSlash" (click)="togglePasswordVisibility()"></fa-icon>
          </div>
          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <span>Password is required</span>
          }
          <!-- <a class="forgot-password-link" href="/">Forget your password</a> -->
        </div>
        <button type="submit" class="submit-button">Sign in</button>
        <!-- <p class="signup-message">Don't have an account? <a href="/">Sign up</a>
        </p> -->
      </form>
    </div>
  </div>
</div>