footer {
  text-align: center;
  background-color: white;
  padding: 20px 0;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 600px) {
  footer {
    position: static;
    margin-top: 20px;
  }
}

header {
  box-shadow: 10px 10px 26px -7px rgba(0,0,0,0.54);
}
