<header class="navbar navbar-expand-lg navbar-light">
  <a class="ms-4 d-lg-none" href="#" aria-expanded="false">
    <img src="favicon.ico" alt="Logo" width="37px" />
  </a>
  <a class="collapse ms-4 d-lg-block" href="#">
    <img src="assets/SweatBank-Logo.png" alt="Logo" width="200px" />
  </a>
  <button class="navbar-toggler me-4" (click)="toggleDropdown('dropdown1')">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ms-4" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown" (click)="toggleDropdown('dropdown2')">
        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-person text-primary"></i><span class="ms-2 text-primary">{{ username }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" [ngClass]="{ 'show': dropdownStates['dropdown2'] }">
          <li style="cursor: pointer">
            <a class="dropdown-item text-primary" href="#" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
<div class="wrapper">
  <main class="flex-grow-1">
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="text-dark py-2" id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-6 mb-4 mb-md-0 information">
        <h5>Contact Information</h5>
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-telephone"></i> +370 5 111 111, +370 5 111 112
          </li>
          <li><i class="bi bi-envelope"></i> info&#64;sweatbank.com</li>
        </ul>
      </div>
      <div class="col-6 hours">
        <h5>Customer Service Hours</h5>
        <p>Monday - Friday: 8:00 - 18:00</p>
      </div>
    </div>
  </div>
</footer>
