@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
.wrapper {
  min-height: calc(100vh - 210px);
}

footer {
  padding: 20px 0;
  margin-top: 20px;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: $body-bg;

  .hours {
    p {
      width: 300px;
    }
  }
}

#contacts .container {
  display: flex;
  justify-content: center;
}

#contacts .container .col-6 {
  flex: 1;
  margin: 0 150px;
}

@media only screen and (max-width: 992px) {
  footer {
    position: relative;
    margin-top: 20px;
    bottom: 0;
  }
}

header {
  box-shadow: 10px 10px 26px -7px rgba(0, 0, 0, 0.54);
  display: flex;
  justify-content: space-evenly;
  background-color: $body-bg;

  .navbar-brand {
    position: relative;
    left: 3rem;
  }

  #navbarNav {
    margin-right: 3.5rem;
  }
}
