@import "../../../../../styles/variables.scss";
.container {
  min-height: calc(100vh - 190px);
  margin-bottom: 20px;
}

.container h3 {
  font-size: x-large;
  text-align: center;
}

.container img {
  height: 100%;
  object-fit: cover;
}

.card {
  max-height: 500px;
  border-radius: $border-radius;
  img {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.14);
}

.card a {
  font-weight: 500;
}

.card-body a {
  width: 100%;
}

.card-body a:hover {
  color: white;
}

@media only screen and (min-width: 992px) {
  .container {
    margin-bottom: 0px;
  }

  .container h3 {
    font-size: xx-large;
    text-align: start;
  }

  .card {
    width: 25rem;
  }

  .card p {
    height: 4rem;
  }

  .card-body a {
    width: auto;
  }
}
