<app-header></app-header>
<nav class="sidebar" [ngClass]="{'close': isClosed}">
  <header>
    <div class="image-text">
          <span class="image">
            <img src="favicon.ico" alt="">
          </span>

      <div class="text logo-text">
        <span class="name">SweatBank</span>
        <span class="profession">Admin Panel</span>
      </div>
    </div>

    <i class="bi bi-chevron-right toggle" (click)="toggleSidebar()"></i>
  </header>

  <div class="menu-bar" data-np-autofill-form-type="other" data-np-checked="1" data-np-watching="1">
    <div class="menu">

      <ul class="menu-links">
        <li class="nav-link">
          <a href="#">
            <i class="bi bi-bar-chart-fill icon"></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>

        <li class="nav-link">
          <a href="#">
            <i class="bi bi-envelope icon"></i>
            <span class="text nav-text">Inbox</span>
          </a>
        </li>

        <li class="nav-link">
          <a href="#">
            <i class="bi bi-clipboard2-check icon"></i>
            <span class="text nav-text">Applications</span>
          </a>
        </li>

      </ul>
    </div>

    <div class="bottom-content">
      <li class="">
        <a href="#">
          <i class="bi bi-box-arrow-right icon"></i>
          <span class="text nav-text">Logout</span>
        </a>
      </li>
    </div>
  </div>
</nav>






<section class="home">
  <div class="text">Gaidis</div>
</section>



