@import "../../../styles/styles.scss";
@import "../../../styles/variables.scss";

.login {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  border-radius: $border-radius $border-radius $border-radius $border-radius;
}

@media (max-width: 992px) {
  .login {
    width: 90%;
  }
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;

  .login-card {
    max-width: 600px;
    width: 100%;
    background-image: url("/assets/left-banner.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius 0 0 $border-radius;
  }

  .left-content {
    flex: 1;
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    margin-bottom: 2rem;
  }

  .right-content {
    padding: 13rem;
    border-radius: 0 $border-radius $border-radius 0;
    background-color: white;
  }

  .app-logo-mobile {
    display: none;
  }

  @media (max-width: 992px) {
    .login-card {
      flex-direction: column;
      background-image: none;
      padding: 0;
      width: auto;
    }

    .right-content {
      border-radius: $border-radius;
      width: 100%;
      padding: 1rem;
    }

    .left-content {
      display: none;
    }

    .app-logo-mobile {
      display: block;
      margin-bottom: 3rem;
      margin-top: 0.5rem;
      width: 95%;
    }

  }

  .card-body {
    width: 90%;
    flex: 1;

    .card-title {
      margin-bottom: 1.625rem;
    }
  }
}
.app-logo {
  width: 24rem;
  height: auto;
  padding-bottom: 50px;
  @media (max-width: 1024px) {
    display: none;
  }
}

form {
  width: 100%;
}

.form-label {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.875rem;
  color: rgb(102, 102, 102);
}

.form-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  appearance: none;
  border-radius: 0.5rem;
  border: 0.0625rem solid rgb(102, 102, 102, 0.35);
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  color: rgb(17, 17, 17);
  font-size: 0.875rem;
  line-height: 1.5rem;
  &:focus {
    border-color: rgb(102, 102, 102);
    //box-shadow: 0 0 0 0.0625rem rgb(102, 102, 102);
    outline: 0.13rem solid transparent;
    outline-offset: 0.13rem;
  }
}

.input-container {
  position: relative;
  width: 100%;

  fa-icon {
    position: absolute;
    top: 0.625rem;
    right: 1rem;
    stroke: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    cursor: pointer;
  }
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
  span {
    margin: 0;
    font-size: 0.75rem;
    color: rgb(238, 29, 82);
  }
}

.signup-message {
  font-size: 0.9rem;
  margin-top: 2rem;
  a {
    text-decoration: none;
    :visited {
      color: rgb(17, 17, 17);
    }
  }
}
body.login-page .main-content {
  padding-bottom: 0;
}
