<div class="container wrapper d-flex justify-content-center align-items-center">
  <div class="container main">
    <div class="steps">
      <ul role="tablist">
        <li #activeStep step="1" class="current">
          <a>
            <div class="title">
              <span class="step-icon">
                <i class="bi bi-car-front-fill"></i>
              </span>
            </div>
          </a>
        </li>
        <li #activeStep step="2">
          <a>
            <div class="title">
              <span class="step-icon">
                <i class="bi bi-person-vcard-fill"></i>
              </span>
            </div>
          </a>
        </li>
        <li #activeStep step="3">
          <a>
            <div class="title">
              <span class="step-icon">
                <i class="bi bi-cash"></i>
              </span>
            </div>
          </a>
        </li>
        <li #activeStep step="4" class="last">
          <a>
            <div class="title">
              <span class="step-icon">
                <i class="bi bi-book-half"></i>
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="tabs_inner">
      <form
        id="application"
        name="application"
        enctype="multipart/form-data"
        method="POST"
        [formGroup]="applicationForm"
        (ngSubmit)="onSubmit()"
      >
        <section #activeStepSection step="1" class="form-step">
          <div class="form-group mb-2">
            <label for="makes">Choose a car</label>
            <select
              name="makes"
              id="makes"
              (change)="onMakeSelect($event)"
              class="form-control {{
                applicationForm.get('makes')?.invalid &&
                applicationForm.get('makes')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="makes"
            >
              <option value="" disabled selected hidden>-</option>
              @for (car of carData.car_makes; track car.make) {
              <option [value]="car.make">{{ car.make }}</option>
              }
            </select>
            @if(applicationForm.get('makes')?.invalid &&
            applicationForm.get('makes')?.touched) {
            <div style="color: red">Please select vehicle make</div>
            }
          </div>
          <div class="form-group mb-2">
            <label for="models">Choose a model</label>
            @if (selectedMake) {
            <select
              name="models"
              id="models"
              class="form-control {{
                applicationForm.get('models')?.invalid &&
                applicationForm.get('models')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="models"
            >
              @for (model of selectedMake.models; track model) {
              <option [value]="model">{{ model }}</option>
              }
            </select>
            } @else {
            <select disabled class="form-control">
              <option value="" disabled selected hidden>-</option>
            </select>
            } @if(applicationForm.get('models')?.invalid &&
            applicationForm.get('models')?.touched) {
            <div style="color: red">Please select vehicle model</div>
            }
          </div>
          <div class="form-group mb-2">
            <label for="yearOfManufacture">Year of manufacture</label>
            <select
              id="yearOfManufacture"
              name="yearOfManufacture"
              class="form-control {{
                applicationForm.get('yearOfManufacture')?.invalid &&
                applicationForm.get('yearOfManufacture')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="yearOfManufacture"
            >
              <option value="">Select year of manufacture</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
            </select>
            @if(applicationForm.get('yearOfManufacture')?.invalid &&
            applicationForm.get('yearOfManufacture')?.touched) {
            <div style="color: red">Please select year of manufacture</div>
            }
          </div>
          <div class="form-group mb-2">
            <label for="costOfTheVehicle">Cost of the vehicle</label>
            <input
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
              type="number"
              id="costOfTheVehicle"
              name="costOfTheVehicle"
              placeholder="Enter vehicle price"
              class="form-control {{
                applicationForm.get('costOfTheVehicle')?.invalid &&
                applicationForm.get('costOfTheVehicle')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="costOfTheVehicle"
            />
            @if(applicationForm.get('costOfTheVehicle')?.touched) {
            @if(applicationForm.get('costOfTheVehicle')?.errors?.['required']) {
            <div style="color: red">Please enter cost of the vehicle</div>
            } @else if
            (applicationForm.get('costOfTheVehicle')?.errors?.['max']) {
            <div style="color: red">Maximum value exceeded</div>
            } }
          </div>
          <div class="form-group mb-2">
            <label for="downPayment">Down payment</label>
            <input
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
              type="number"
              id="downPayment"
              name="downPayment"
              placeholder="Enter down payment"
              class="form-control {{
                applicationForm.get('downPayment')?.invalid &&
                applicationForm.get('downPayment')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="downPayment"
            />
            @if(applicationForm.get('downPayment')?.touched) {
            @if(applicationForm.get('downPayment')?.errors?.['required']) {
            <div style="color: red">Please enter down payment</div>
            } @else if (applicationForm.get('downPayment')?.errors?.['max']) {
            <div style="color: red">Maximum value exceeded</div>
            } @else if
            (applicationForm.get('downPayment')?.errors?.['downPaymentGreaterThanCost'])
            {
            <div style="color: red">
              Down payment cannot be greater than the cost of the vehicle
            </div>
            } }
          </div>
          <div class="form-group mb-2">
            <label for="leasingPeriod">Leasing period (in years)</label>
            <select
              id="leasingPeriod"
              name="leasingPeriod"
              class="form-control {{
                applicationForm.get('leasingPeriod')?.invalid &&
                applicationForm.get('leasingPeriod')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="leasingPeriod"
            >
              <option value="">Select leasing period</option>
              <option value="1">1 year</option>
              <option value="2">2 years</option>
              <option value="3">3 years</option>
              <option value="4">4 years</option>
              <option value="5">5 years</option>
            </select>
            @if(applicationForm.get('leasingPeriod')?.invalid &&
            applicationForm.get('leasingPeriod')?.touched) {
            <div style="color: red">Please select leasing period</div>
            }
          </div>
          <div class="form-group mb-2 mb-2">
            <label for="sellerName">Seller name</label>
            <input
              type="text"
              id="sellerName"
              name="sellerName"
              placeholder="Enter seller's name"
              class="form-control {{
                applicationForm.get('sellerName')?.invalid &&
                applicationForm.get('sellerName')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="sellerName"
              maxlength="50"
            />
            @if(applicationForm.get('sellerName')?.invalid &&
            applicationForm.get('sellerName')?.touched) {
            <div style="color: red">Please enter seller's name</div>
            }
          </div>
          <div class="form-button-bar d-flex justify-content-between">
            <a class="btn btn-danger" (click)="goBackToHome()"
              ><i class="bi bi-chevron-left"></i> Cancel</a
            >
            <button
              class="btn btn-primary text-white"
              type="button"
              (click)="navigateToStep(2)"
              [disabled]="
                !sectionValidator([
                  'makes',
                  'models',
                  'yearOfManufacture',
                  'costOfTheVehicle',
                  'leasingPeriod',
                  'downPayment',
                  'sellerName'
                ])
              "
            >
              Forward <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </section>
        <section #activeStepSection step="2" class="form-step d-none">
          <div class="form-group mb-2">
            <label for="education">Education</label>
            <select
              id="education"
              name="education"
              class="form-control {{
                applicationForm.get('education')?.invalid &&
                applicationForm.get('education')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="education"
            >
              <option value="">Select education</option>
              <option value="primary">Primary</option>
              <option value="secondary">Secondary</option>
              <option value="vocational">Vocational</option>
              <option value="college">College</option>
              <option value="higher">Higher</option>
            </select>
            @if(applicationForm.get('education')?.invalid &&
            applicationForm.get('education')?.touched) {
            <div style="color: red">Please select your education</div>
            }
          </div>
          <div class="form-group mb-2">
            <label for="positionHeld">Position held</label>
            <select
              id="positionHeld"
              name="positionHeld"
              class="form-control {{
                applicationForm.get('positionHeld')?.invalid &&
                applicationForm.get('positionHeld')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              (change)="onMakeStudentSelect($event)"
              formControlName="positionHeld"
            >
              <option value="">Select position held</option>
              <option value="worker">Worker, Specialist/Office worker</option>
              <option value="supervisorSpecialist">Superior specialist</option>
              <option value="middleManager">Middle manager</option>
              <option value="executive">Executive</option>
              <option value="owner">Owner</option>
              <option value="student">Student</option>
              <option value="pensioner">Pensioner</option>
              <option value="unemployed">Unemployed</option>
              <option value="privateEnterpreneur">Private entrepreneur</option>
            </select>
            @if(applicationForm.get('positionHeld')?.invalid &&
            applicationForm.get('positionHeld')?.touched) {
            <div style="color: red">Please select your position held</div>
            }
          </div>
          <div class="form-group mb-2 jobTitleInput">
            <label for="jobTitle">Job title</label>
            <input
              type="text"
              id="jobTitle"
              name="jobTitle"
              placeholder="Enter job title"
              class="form-control {{
                applicationForm.get('jobTitle')?.invalid &&
                applicationForm.get('jobTitle')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="jobTitle"
              maxlength="70"
            />
            @if(applicationForm.get('jobTitle')?.invalid &&
            applicationForm.get('jobTitle')?.touched) {
            <div style="color: red">Please enter your job title</div>
            }
          </div>
          <div class="form-group mb-2 jobTitleInput">
            <label for="timeEmployed">Time employed</label>
            <select
              id="timeEmployed"
              name="timeEmployed"
              class="form-control {{
                applicationForm.get('timeEmployed')?.invalid &&
                applicationForm.get('timeEmployed')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="timeEmployed"
            >
              <option value="">Select time</option>
              <option value="0">Trial period</option>
              <option value="1">Up to 1 year</option>
              <option value="2">Up to 2 year</option>
              <option value="3">Up to 3 year</option>
              <option value="4">Up to 4 year</option>
              <option value="5">Up to 5 year</option>
              <option value="6">More than 5 years</option>
            </select>
            @if(applicationForm.get('timeEmployed')?.invalid &&
            applicationForm.get('timeEmployed')?.touched) {
            <div style="color: red">Please select time employed</div>
            }
          </div>
          <div class="form-group mb-2 jobTitleInput">
            <label for="businessAreaOfYourEmployer"
              >Business area of your employer</label
            >
            <select
              id="businessAreaOfYourEmployer"
              name="businessAreaOfYourEmployer"
              class="form-control {{
                applicationForm.get('businessAreaOfYourEmployer')?.invalid &&
                applicationForm.get('businessAreaOfYourEmployer')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="businessAreaOfYourEmployer"
            >
              <option value="">Select business area</option>
              <option value="agricultureForestryFishery">
                Agriculture, forestry, fishery (hunting)
              </option>
              <option value="construction">Construction</option>
              <option value="industry">
                Industry (food processing, textile, timber, paper, chemical,
                metal etc.)
              </option>
              <option value="tradePersonalService">
                Trade, personal service (wholesale and retail trade, hotels,
                restaurants)
              </option>
              <option value="transportHaulageCommunications">
                Transport, haulage, communications
              </option>
              <option value="financialIntermediation">
                Financial intermediation (insurance, financial interm.
                assistance services)
              </option>
              <option value="educationCulture">Education, culture</option>
              <option value="realEstateActivities">
                Real estate activities
              </option>
              <option value="informationTechnologies">
                Information Technologies
              </option>
              <option value="legalAssistanceAuditing">
                Legal assistance, auditing and other business
              </option>
              <option value="healthSocialCare">Health and social care</option>
              <option value="publicAdministrationNationalDefence">
                Public administration and national defence
              </option>
            </select>
            @if(applicationForm.get('businessAreaOfYourEmployer')?.invalid &&
            applicationForm.get('businessAreaOfYourEmployer')?.touched) {
            <div style="color: red">Please select business area</div>
            }
          </div>
          <div class="form-group mb-2">
            <label for="maritalStatus">Marital status</label>
            <select
              id="maritalStatus"
              name="maritalStatus"
              class="form-control {{
                applicationForm.get('maritalStatus')?.invalid &&
                applicationForm.get('maritalStatus')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="maritalStatus"
            >
              <option value="">Select marital status</option>
              <option value="single">Single</option>
              <option value="married">Married</option>
              <option value="commonLawMarriage">Common law marriage</option>
              <option value="divorced">Divorced</option>
              <option value="windowWindower">Widow/Widower</option>
            </select>
            @if(applicationForm.get('maritalStatus')?.invalid &&
            applicationForm.get('maritalStatus')?.touched) {
            <div style="color: red">Please select your marital status</div>
            }
          </div>
          <div class="form-group mb-2">
            <label for="numberOfChildren">Number of children</label>
            <input
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
              type="number"
              id="numberOfChildren"
              name="numberOfChildren"
              placeholder="Enter number of children"
              class="form-control {{
                applicationForm.get('numberOfChildren')?.invalid &&
                applicationForm.get('numberOfChildren')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="numberOfChildren"
            />
            @if(applicationForm.get('numberOfChildren')?.touched) {
            @if(applicationForm.get('numberOfChildren')?.errors?.['required']) {
            <div style="color: red">Please enter number of children</div>
            } @else if
            (applicationForm.get('numberOfChildren')?.errors?.['max']) {
            <div style="color: red">Maximum value exceeded</div>
            } }
          </div>
          <div class="form-button-bar d-flex justify-content-between">
            <button
              class="btn btn-secondary"
              type="button"
              (click)="navigateToStep(1)"
            >
              <i class="bi bi-chevron-left"></i> Back
            </button>
            <button
              class="btn btn-primary text-white"
              type="button"
              (click)="navigateToStep(3)"
              [disabled]="
                !sectionValidator([
                  'education',
                  'positionHeld',
                  'jobTitle',
                  'timeEmployed',
                  'businessAreaOfYourEmployer',
                  'maritalStatus',
                  'numberOfChildren'
                ])
              "
            >
              Forward <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </section>
        <section #activeStepSection step="3" class="form-step d-none">
          <div class="form-group mb-2">
            <label for="monthlyIncomeAfterTaxes"
              >Monthly income after taxes</label
            >
            <input
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
              type="number"
              id="monthlyIncomeAfterTaxes"
              name="monthlyIncomeAfterTaxes"
              placeholder="Enter your monthly income"
              class="form-control {{
                applicationForm.get('monthlyIncomeAfterTaxes')?.invalid &&
                applicationForm.get('monthlyIncomeAfterTaxes')?.touched
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="monthlyIncomeAfterTaxes"
            />
            @if(applicationForm.get('monthlyIncomeAfterTaxes')?.touched) {
            @if(applicationForm.get('monthlyIncomeAfterTaxes')?.errors?.['required'])
            {
            <div style="color: red">Please enter monthly income</div>
            } @else if
            (applicationForm.get('monthlyIncomeAfterTaxes')?.errors?.['max']) {
            <div style="color: red">Maximum value exceeded</div>
            } }
          </div>
          <div class="form-group mb-2">
            <label>Do you have any obligations?</label><br />
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="obligationsNo"
                name="obligations"
                value="No"
                (change)="handleObligationsChange($event)"
                checked
                formControlName="obligations"
              />
              <label class="form-check-label" for="obligationsNo">No</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="obligationsYes"
                name="obligations"
                value="Yes"
                (change)="handleObligationsChange($event)"
                formControlName="obligations"
              />
              <label class="form-check-label" for="obligationsYes">Yes</label>
            </div>
            @if(applicationForm.get('obligations')?.invalid &&
            applicationForm.get('obligations')?.touched) {
            <div style="color: red">Please select obligations</div>
            }
          </div>
          <table class="table" id="table" style="display: none">
            <thead>
              <tr>
                <th>Type of Obligation</th>
                <th>Outstanding Debt / Limit</th>
                <th>Monthly Payment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Customer loans</td>
                <td>
                  <input
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="customerLoansOutstanding"
                    id="customerLoansOutstanding"
                    class="form-control {{
                      applicationForm.get('customerLoansOutstanding')
                        ?.invalid &&
                      applicationForm.get('customerLoansOutstanding')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                    formControlName="customerLoansOutstanding"
                  />
                </td>
                <td>
                  @if(applicationForm.get('customerLoansOutstanding')?.value) {
                  <input
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    value="0"
                    type="number"
                    name="customerLoansMonthlyPayment"
                    id="customerLoansMonthlyPayment"
                    class="form-control {{
                      applicationForm.get('customerLoansMonthlyPayment')
                        ?.invalid &&
                      applicationForm.get('customerLoansMonthlyPayment')
                        ?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                    formControlName="customerLoansMonthlyPayment"
                  />
                  } @else {
                  <input
                    disabled
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="customerLoansMonthlyPayment"
                    id="customerLoansMonthlyPayment"
                    class="form-control {{
                      applicationForm.get('customerLoansMonthlyPayment')
                        ?.invalid &&
                      applicationForm.get('customerLoansMonthlyPayment')
                        ?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                  />
                  }
                </td>
              </tr>
              <tr>
                <td>Car lease</td>
                <td>
                  <input
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="carLeaseOutstanding"
                    id="carLeaseOutstanding"
                    class="form-control {{
                      applicationForm.get('carLeaseOutstanding')?.invalid &&
                      applicationForm.get('carLeaseOutstanding')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                    formControlName="carLeaseOutstanding"
                  />
                </td>
                <td>
                  @if(applicationForm.get('carLeaseOutstanding')?.value) {
                  <input
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="carLeaseMonthlyPayment"
                    id="carLeaseMonthlyPayment"
                    class="form-control {{
                      applicationForm.get('carLeaseMonthlyPayment')?.invalid &&
                      applicationForm.get('carLeaseMonthlyPayment')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                    formControlName="carLeaseMonthlyPayment"
                  />
                  } @else {
                  <input
                    disabled
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="carLeaseMonthlyPayment"
                    id="carLeaseMonthlyPayment"
                    class="form-control {{
                      applicationForm.get('carLeaseMonthlyPayment')?.invalid &&
                      applicationForm.get('carLeaseMonthlyPayment')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                  />
                  }
                </td>
              </tr>
              <tr>
                <td>Credit card</td>
                <td>
                  <input
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="creditCardOutstanding"
                    id="creditCardOutstanding"
                    class="form-control {{
                      applicationForm.get('creditCardOutstanding')?.invalid &&
                      applicationForm.get('creditCardOutstanding')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                    formControlName="creditCardOutstanding"
                  />
                </td>
                <td>
                  @if(applicationForm.get('creditCardOutstanding')?.value) {
                  <input
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="creditCardMonthlyPayment"
                    id="creditCardMonthlyPayment"
                    class="form-control {{
                      applicationForm.get('creditCardMonthlyPayment')
                        ?.invalid &&
                      applicationForm.get('creditCardMonthlyPayment')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                    formControlName="creditCardMonthlyPayment"
                  />
                  } @else {
                  <input
                    disabled
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="creditCardMonthlyPayment"
                    id="creditCardMonthlyPayment"
                    class="form-control {{
                      applicationForm.get('creditCardMonthlyPayment')
                        ?.invalid &&
                      applicationForm.get('creditCardMonthlyPayment')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                  />
                  }
                </td>
              </tr>
              <tr>
                <td>Mortgage</td>
                <td>
                  <input
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="mortgageOutstanding"
                    id="mortgageOutstanding"
                    class="form-control {{
                      applicationForm.get('mortgageOutstanding')?.invalid &&
                      applicationForm.get('mortgageOutstanding')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                    formControlName="mortgageOutstanding"
                  />
                </td>
                <td>
                  @if(applicationForm.get('mortgageOutstanding')?.value) {
                  <input
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="mortgageMonthlyPayment"
                    id="mortgageMonthlyPayment"
                    class="form-control {{
                      applicationForm.get('mortgageMonthlyPayment')?.invalid &&
                      applicationForm.get('mortgageMonthlyPayment')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                    formControlName="mortgageMonthlyPayment"
                  />
                  } @else {
                  <input
                    disabled
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="mortgageMonthlyPayment"
                    id="mortgageMonthlyPayment"
                    class="form-control {{
                      applicationForm.get('mortgageMonthlyPayment')?.invalid &&
                      applicationForm.get('mortgageMonthlyPayment')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                  />
                  }
                </td>
              </tr>
              <tr>
                <td>Other credits</td>
                <td>
                  <input
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="otherCreditsOutstanding"
                    id="otherCreditsOutstanding"
                    class="form-control {{
                      applicationForm.get('otherCreditsOutstanding')?.invalid &&
                      applicationForm.get('otherCreditsOutstanding')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                    formControlName="otherCreditsOutstanding"
                  />
                </td>
                <td>
                  @if(applicationForm.get('otherCreditsOutstanding')?.value) {
                  <input
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="otherCreditsMonthlyPayment"
                    id="otherCreditsMonthlyPayment"
                    class="form-control {{
                      applicationForm.get('otherCreditsMonthlyPayment')
                        ?.invalid &&
                      applicationForm.get('otherCreditsMonthlyPayment')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                    formControlName="otherCreditsMonthlyPayment"
                  />
                  } @else {
                  <input
                    disabled
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="number"
                    name="otherCreditsMonthlyPayment"
                    id="otherCreditsMonthlyPayment"
                    class="form-control {{
                      applicationForm.get('otherCreditsMonthlyPayment')
                        ?.invalid &&
                      applicationForm.get('otherCreditsMonthlyPayment')?.touched
                        ? 'is-invalid'
                        : ''
                    }}"
                  />
                  }
                </td>
              </tr>
            </tbody>
            @if((applicationForm.get('customerLoansOutstanding')?.invalid &&
            applicationForm.get('customerLoansOutstanding')?.touched) ||
            (applicationForm.get('customerLoansMonthlyPayment')?.invalid &&
            applicationForm.get('customerLoansMonthlyPayment')?.touched) ||
            (applicationForm.get('carLeaseOutstanding')?.invalid &&
            applicationForm.get('carLeaseOutstanding')?.touched) ||
            (applicationForm.get('carLeaseMonthlyPayment')?.invalid &&
            applicationForm.get('carLeaseMonthlyPayment')?.touched) ||
            (applicationForm.get('creditCardOutstanding')?.invalid &&
            applicationForm.get('creditCardOutstanding')?.touched) ||
            (applicationForm.get('creditCardMonthlyPayment')?.invalid &&
            applicationForm.get('creditCardMonthlyPayment')?.touched) ||
            (applicationForm.get('mortgageOutstanding')?.invalid &&
            applicationForm.get('mortgageOutstanding')?.touched) ||
            (applicationForm.get('mortgageMonthlyPayment')?.invalid &&
            applicationForm.get('mortgageMonthlyPayment')?.touched) ||
            (applicationForm.get('otherCreditsOutstanding')?.invalid &&
            applicationForm.get('otherCreditsOutstanding')?.touched) ||
            (applicationForm.get('otherCreditsMonthlyPayment')?.invalid &&
            applicationForm.get('otherCreditsMonthlyPayment')?.touched)) {
            <div style="color: red">Please review your entered data</div>
            }
          </table>
          <div class="form-button-bar d-flex justify-content-between">
            <button
              class="btn btn-secondary"
              type="button"
              (click)="navigateToStep(2)"
            >
              <i class="bi bi-chevron-left"></i> Back
            </button>
            <button
              class="btn btn-primary text-white"
              type="button"
              (click)="navigateToStep(4)"
              [disabled]="
                !sectionValidator([
                  'obligations',
                  'monthlyIncomeAfterTaxes',
                  'customerLoansOutstanding',
                  'customerLoansMonthlyPayment',
                  'carLeaseOutstanding',
                  'carLeaseMonthlyPayment',
                  'creditCardOutstanding',
                  'creditCardMonthlyPayment',
                  'mortgageOutstanding',
                  'mortgageMonthlyPayment',
                  'otherCreditsOutstanding',
                  'otherCreditsMonthlyPayment'
                ])
              "
            >
              Forward <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </section>
        <section #activeStepSection step="4" class="form-step d-none">
          <div class="alert alert-info" role="alert">
            Please review the summary below. Note that this information is
            subject to approval by the admin and may not be final.
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Summary</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cost of vehicle</td>
                <td>
                  {{ this.applicationForm.get("costOfTheVehicle")?.value }} EUR
                </td>
              </tr>
              <tr>
                <td>Lease period</td>
                <td>
                  @if(this.applicationForm.get('leasingPeriod')?.value == 1) {
                  {{ this.applicationForm.get("leasingPeriod")?.value }} Year }
                  @else {
                  {{ this.applicationForm.get("leasingPeriod")?.value }} Years }
                </td>
              </tr>
              <tr>
                <td>Monthly income after taxes</td>
                <td>
                  {{
                    this.applicationForm.get("monthlyIncomeAfterTaxes")?.value
                  }}
                  EUR
                </td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>{{ this.phone }}</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td>{{ this.email }}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>{{ this.address }}</td>
              </tr>
              <tr>
                <td>Application date</td>
                <td>{{ getCurrentDate() }}</td>
              </tr>
              <tr>
                <td>Monthly payment</td>
                <td>{{ this.monthlyPayment }} EUR</td>
              </tr>
            </tbody>
          </table>
          <div class="form-button-bar d-flex justify-content-between mt-2">
            <button
              class="btn btn-secondary"
              type="button"
              (click)="navigateToStep(3)"
            >
              <i class="bi bi-chevron-left"></i> Back
            </button>
            <button
              class="btn btn-success text-white"
              type="button"
              (click)="showModal()"
              [disabled]="this.applicationForm.invalid"
            >
              Submit <i class="bi bi-chevron-right"></i>
            </button>
          </div>
          <div
            class="modal fade"
            bsModal
            #modal="bs-modal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="dialog-events-name"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Verify Data
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    (click)="modal.hide()"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>Please verify that provided data is correct.</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    (click)="modal.hide()"
                  >
                    Cancel
                  </button>
                  <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="isLoading || this.applicationForm.invalid"
                  >
                    @if (isLoading) {
                    <fa-icon [icon]="faSpinner" animation="spin" />
                    } @else { Verify }
                  </button>
                </div>
                <div class="modal-footer">
                  @if (error) {
                  <div>
                    <p style="color: darkred">{{ error }}</p>
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
