.steps {
	margin-bottom: 33px;

}
.steps ul {
  justify-content: center;
  display: flex;
  display: -webkit-flex;
  list-style: none;
  padding-left: 80px;
}
.steps li,
.steps li.current {
  text-transform: uppercase;
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    position: relative;
}
.steps li .current-info {
	display: none;
}
.steps li a {
	text-decoration: none;
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.steps li a .title span {
	display: block;
}
.steps li a .title .step-icon { 
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #ccc;
  margin: 0 auto;
  position: relative;
  outline: none;
  -o-outline: none;
  -ms-outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  color: #fff;
  font-size: 25.6px;
  margin-right: 108px;
}
.steps li a .step-icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.steps li:not(:first-child) .step-icon::before {
	position: absolute;
	content: "";
	background: #e5e5e5;
	width: 108px;
	height: 2px;
	top: 50%;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.steps li .step-icon::before {
	right: 100%;
}
.steps li:last-child .step-icon::after {
  left: 100%;
}

.steps li.current a .step-icon,
.steps li.current a:active .step-icon,
.steps li.done a .title .step-icon,
.steps li.done a:active .step-icon {
  background: #24c1e8;
}

.steps li.current .step-icon::before,
.steps li.done .step-icon::before {
  background: #24c1e8;
}

.steps li a .step-text {
	color: #999;
	font-weight: 400;
	font-size: 18px;
	padding:  14px 0 8px;
}
.steps .current .step-text,
.steps .done .step-text {
	color: #333;
}
.content {
  margin: 0 20px 0 20px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 35px 55px 55px;
}
.content h2 {
	display: none;
}
.content .inner h3 {
	font-size: 22px;
    color: #333;
    font-weight: 700;
    margin: 0;
    padding-bottom: 18px;
    padding-top: 5px;
}	
.content .form-total-p-1 .inner h3 {
	padding-bottom: 13px;
	padding-top: 0;
}
.content #form-total-p-3 .inner h3 {
	padding-bottom: 5px;
}
.content .inner h4 {
	font-size: 18px;
	font-weight: 700;
	color: #333;
	margin: 0;
}


/* Responsive */
@media screen and (max-width: 1199px) {
	.wizard-v3-content {
		margin: 180px 20px;
	}
}
@media screen and (max-width: 991px) {
	.steps ul {
	    padding-left: 0;
	    justify-content: space-around;
	    -o-justify-content: space-around;
		-ms-justify-content: space-around;
		-moz-justify-content: space-around;
		-webkit-justify-content: space-around;
	}
	.steps li a .title {
		text-align: center;
	}
	.steps li a .title .step-icon,
	.steps li a .title .step-icon {
		margin: 0 auto;
	}
	.steps li a .title .step-icon::before,
	.steps li:last-child a .title .step-icon::after {
		content: none;
	}
	.actions ul li:first-child {
		margin-left: 0;
	}
}
@media screen and (max-width: 767px) {
	.inner .form-row.form-row-date .form-holder select {
	    width: 17.5%;
	    margin-right: 20px;
	}
	.inner .form-row .form-holder label.pay-1-label, 
	.inner .form-row .form-holder label.pay-2-label {
		margin-bottom: 15px;
	}
} 
@media screen and (max-width: 575px) {
	.wizard-v3-content {
		width: 90%;
	}
	.wizard-form .wizard-header {
		padding:  40px 20px 20px 20px;
	}
	.inner .form-row {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		margin: 0;
	}
	.inner .form-row .form-holder {
		width: 100%;
	}
	.inner .form-row .form-holder.form-holder-1 {
	    width: 100%;
	}
	.inner .form-row .form-holder {
		padding: 0;
	}
	.inner .form-row .form-holder label.special-label {
	    float: none;
	}
	.inner .form-row.form-row-date .form-holder select {
	    float: none;
	    width: 100%;
	    margin-bottom: 20px;
	    margin-right: 0;
	    display: block;
	}
	.steps li a .title .step-icon {
		width: 40px;
		height: 40px;
		font-size: 20px;
	}
	.steps li a .step-text {
		font-size: 12px;
	}
	.content {
		padding: 35px 30px 60px;
	}
	.inner .form-row #radio {
		margin-left: -2px;
	}
	.inner .form-row #checkbox {
		margin-left: 0;
	}
	.actions ul li {
		width: 120px;
	}
	.actions ul li a {
	    padding: 15px 24px;
	}
}


.container.main {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding-block: 20px;
  padding-inline: 30px;
  background-color: white;
}

.wrapper {
  min-height: calc(100vh - 210px);
}
