<header class="p-3 mb-3">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-end">
      <div class="dropdown">
        <a href="#" class="d-block link-dark text-decoration-none " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="d-flex align-items-center justify-content-end">
            <img src="https://github.com/mdo.png" alt="mdo" width="50" height="50" class="rounded-circle me-2">
            <div>
              <div>Username</div>
              <div class="text-muted">Admin</div>
            </div>
            <div class="p-2">
              <i class="bi bi-chevron-down"></i>
            </div>
          </div>
        </a>
        <ul class="dropdown-menu text-small dropdown-menu-end" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
