<app-header></app-header>
<div class="container">
  <div class="progressbar-wrapper">
    <ul class="progressbar">
      <li class="current" #activeStep step="1">Leasing application</li>
      <li #activeStep step="2">Personal information</li>
      <li #activeStep step="3">Salary</li>
      <li #activeStep step="4">Summary</li>
    </ul>
  </div>
  <div class="tabs_inner">
    <form id="application" name="application" enctype="multipart/form-data" method="POST" [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
      <section #activeStepSection step="1" class="form-step">
        <div class="form-group mb-2">
          <label for="makes">Choose a car</label>
          <select name="makes" id="makes" (change)="onMakeSelect($event)" class="form-control" formControlName="makes">
            @for (car of carData.car_makes; track car.make) {
              <option value="" disabled selected hidden>-</option>
              <option [value]="car.make">{{car.make}}</option>
            }
          </select>
          @if(applicationForm.get('makes')?.invalid && applicationForm.get('makes')?.touched)
          {
            <div style="color: red;">Please select vehicle make</div>
          }
        </div>
        <div class="form-group mb-2">
          <label for="models">Choose a model</label>
          @if (selectedMake) {
            <select name="models" id="models" class="form-control" formControlName="models">
              @for (model of selectedMake.models; track model) {
                <option [value]="model">{{model}}</option>
              }
            </select>
          }
          @else {
            <select disabled class="form-control">
              <option value="" disabled selected hidden>-</option>
            </select>
          }
          @if(applicationForm.get('models')?.invalid && applicationForm.get('models')?.touched)
          {
            <div style="color: red;">Please select vehicle model</div>
          }
        </div>
        <div class="form-group mb-2">
          <label for="yearOfManufacture">Year of manufacture</label>
          <select id="yearOfManufacture" name="yearOfManufacture" class="form-control" formControlName="yearOfManufacture">
            <option value="">Select year of manufacture</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select>
          @if(applicationForm.get('yearOfManufacture')?.invalid && applicationForm.get('yearOfManufacture')?.touched)
          {
            <div style="color: red;">Please select year of manufacture</div>
          }
        </div>
        <div class="form-group mb-2">
          <label for="costOfTheVehicle">Cost of the vehicle</label>
          <input type="number" id="costOfTheVehicle" name="costOfTheVehicle" placeholder="Enter vehicle price" class="form-control" formControlName="costOfTheVehicle">
          @if(applicationForm.get('costOfTheVehicle')?.invalid && applicationForm.get('costOfTheVehicle')?.touched)
          {
            <div style="color: red;">Please enter cost of the vehicle</div>
          }
        </div>
        <div class="form-group mb-2">
          <label for="downPayment">Down payment</label>
          <input type="number" id="downPayment" name="downPayment" placeholder="Enter down payment" class="form-control" formControlName="downPayment">
          @if(applicationForm.get('downPayment')?.invalid && applicationForm.get('downPayment')?.touched)
          {
            <div style="color: red;">Please enter cost of the vehicle</div>
          }
        </div>
        <div class="form-group mb-2">
          <label for="leasingPeriod">Leasing period (in years)</label>
          <select id="leasingPeriod" name="leasingPeriod" class="form-control" formControlName="leasingPeriod">
            <option value="">Select leasing period</option>
            <option value="1">1 year</option>
            <option value="2">2 years</option>
            <option value="3">3 years</option>
            <option value="4">4 years</option>
            <option value="5">5 years</option>
          </select>
          @if(applicationForm.get('leasingPeriod')?.invalid && applicationForm.get('leasingPeriod')?.touched)
          {
            <div style="color: red;">Please select leasing period</div>
          }
        </div>
        <div class="form-group mb-2 mb-2">
          <label for="sellerName">Seller name</label>
          <input type="text" id="sellerName" name="sellerName" placeholder="Enter seller's name" class="form-control" formControlName="sellerName">
          @if(applicationForm.get('sellerName')?.invalid && applicationForm.get('sellerName')?.touched)
          {
            <div style="color: red;">Please enter seller's name</div>
          }
        </div>
        <div class="form-button-bar d-flex justify-content-end">
          <button class="btn btn-success" type="button" (click)="navigateToStep(2)" [disabled]="!section1Validator()">Forward <i class="bi bi-chevron-right"></i></button>
        </div>
      </section>
      <section #activeStepSection step="2" class="form-step d-none">
        <div class="form-group mb-2">
          <label for="education">Education</label>
          <select id="education" name="education" class="form-control" formControlName="education">
            <option value="">Select education</option>
            <option value="primary">Primary</option>
            <option value="secondary">Secondary</option>
            <option value="vocational">Vocational</option>
            <option value="college">College</option>
            <option value="higher">Higher</option>
          </select>
          @if(applicationForm.get('education')?.invalid && applicationForm.get('education')?.touched)
          {
            <div style="color: red;">Please select your education</div>
          }
        </div>
        <div class="form-group mb-2">
          <label for="positionHeld">Position held</label>
          <select id="positionHeld" name="positionHeld" class="form-control" (change)="onMakeStudentSelect($event)" formControlName="positionHeld">
            <option value="">Select position held</option>
            <option value="worker">Worker, Specialist/Office worker</option>
            <option value="supervisorSpecialist">Superior specialist</option>
            <option value="middleManager">Middle manager</option>
            <option value="executive">Executive</option>
            <option value="higher">Higher</option>
            <option value="owner">Owner</option>
            <option value="student">Student</option>
            <option value="pensioner">Pensioner</option>
            <option value="atHome">At home</option>
            <option value="unemployed">Unemployed</option>
            <option value="privateEnterpreneur">Private entrepreneur</option>
          </select>
          @if(applicationForm.get('positionHeld')?.invalid && applicationForm.get('positionHeld')?.touched)
          {
            <div style="color: red;">Please select your position held</div>
          }
        </div>
        <div class="form-group mb-2 jobTitleInput">
          <label for="jobTitle">Job title</label>
          <input type="text" id="jobTitle" name="jobTitle" placeholder="Enter job title" class="form-control" formControlName="jobTitle">
          @if(applicationForm.get('jobTitle')?.invalid && applicationForm.get('jobTitle')?.touched)
          {
            <div style="color: red;">Please enter your job title</div>
          }
        </div>
        <div class="form-group mb-2 jobTitleInput">
          <label for="timeEmployed">Time employed</label>
          <select id="timeEmployed" name="timeEmployed" class="form-control">
            <option value="">Select time</option>
            <option value="trialPeriod">Trial period</option>
            <option value="upTo1Year">Up to 1 year</option>
            <option value="upTo2Year">Up to 2 year</option>
            <option value="upTo3Year">Up to 3 year</option>
            <option value="upTo4Year">Up to 4 year</option>
            <option value="upTo5Year">Up to 5 year</option>
            <option value="moreThen5Years">More then 5 years</option>
          </select>
          <div style="color: red;">Error</div>
        </div>
        <div class="form-group mb-2 jobTitleInput">
          <label for="businessAreaOfYourEmployer">Business area of your employer</label>
          <select id="businessAreaOfYourEmployer" name="businessAreaOfYourEmployer" class="form-control">
            <option value="">Select business area</option>
            <option value="1">Agriculture, forestry, fishery (hunting)</option>
            <option value="2">Construction</option>
            <option value="3">Industry (food processing, textile, timber, paper, chemical, metal etc.)</option>
            <option value="4">Trade, personal service (wholesale and retail trade, hotels, restaurants)</option>
            <option value="5">Transport, haulage, communications</option>
            <option value="6">Financial intermediation (insurance, financial interm. assistance services)</option>
            <option value="7">Education, culture</option>
            <option value="8">Real estate activities</option>
            <option value="9">Information Technologies</option>
            <option value="10">Legal assistance, auditing and other business</option>
            <option value="11">Health and social care</option>
            <option value="12">Public administration and national defence</option>
          </select>
          <div style="color: red;">Error</div>
        </div>
        <div class="form-group mb-2">
          <label for="maritalStatus">Marital status</label>
          <select id="maritalStatus" name="maritalStatus" class="form-control">
            <option value="">Select marital status</option>
            <option value="single">Single</option>
            <option value="married">Married</option>
            <option value="commonLawMarriage">Common law marriage</option>
            <option value="divorced">Divorced</option>
            <option value="windowWindower">Widow/Widower</option>
          </select>
          <div style="color: red;">Error</div>
        </div>
        <div class="form-group mb-2">
          <label for="numberOfChildren">Number of children</label>
          <input type="number" id="numberOfChildren" name="numberOfChildren" placeholder="Enter number of children" class="form-control">
          <div style="color: red;">Error</div>
        </div>
        <div class="form-button-bar d-flex justify-content-between">
          <button class="btn btn-primary" type="button" (click)="navigateToStep(1)"><i class="bi bi-chevron-left"></i> Back</button>
          <button class="btn btn-success" type="button" (click)="navigateToStep(3)">Forward <i class="bi bi-chevron-right"></i></button>
        </div>
      </section>
      <section #activeStepSection step="3" class="form-step d-none">
        <div class="form-group mb-2">
          <label for="monthlyIncomeAfterTaxes">Monthly income after taxes</label>
          <input type="number" id="monthlyIncomeAfterTaxes" name="monthlyIncomeAfterTaxes" placeholder="Enter your monthly income" class="form-control">
          <div style="color: red;">Error</div>
        </div>
        <div class="form-group mb-2">
          <label>Do you have any obligations?</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="obligationsNo" name="obligations" value="No" (change)="handleObligationsChange($event)">
            <label class="form-check-label" for="obligationsNo">No</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="obligationsYes" name="obligations" value="Yes" (change)="handleObligationsChange($event)">
            <label class="form-check-label" for="obligationsYes">Yes</label>
          </div>
          <div style="color: red;">Error</div>
        </div>
        <table class="table" id="table" style="display: none;">
          <thead>
          <tr>
            <th>Type of Obligation</th>
            <th>Outstanding Debt / Limit</th>
            <th>Monthly Payment</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Customer loans</td>
            <td><input type="number" class="form-control"></td>
            <td><input type="number" class="form-control"></td>
          </tr>
          <tr>
            <td>Car leas</td>
            <td><input type="number" class="form-control"></td>
            <td><input type="number" class="form-control"></td>
          </tr>
          <tr>
            <td>Credit card</td>
            <td><input type="number" class="form-control"></td>
            <td><input type="number" class="form-control"></td>
          </tr>
          <tr>
            <td>Mortgage</td>
            <td><input type="number" class="form-control"></td>
            <td><input type="number" class="form-control"></td>
          </tr>
          <tr>
            <td>Other credits</td>
            <td><input type="number" class="form-control"></td>
            <td><input type="number" class="form-control"></td>
          </tr>
          </tbody>
          <div style="color: red;">Error</div>
        </table>
        <div class="form-button-bar d-flex justify-content-between">
          <button class="btn btn-primary" type="button" (click)="navigateToStep(2)"><i class="bi bi-chevron-left"></i> Back</button>
          <button class="btn btn-success" type="button" (click)="navigateToStep(4)">Forward <i class="bi bi-chevron-right"></i></button>
        </div>
      </section>
      <section #activeStepSection step="4" class="form-step d-none">
        <div class="form-button-bar d-flex justify-content-between">
          <button class="btn btn-primary" type="button" (click)="navigateToStep(3)"><i class="bi bi-chevron-left"></i> Back</button>
          <button class="btn btn-success" type="button">Submit <i class="bi bi-chevron-right"></i></button>
        </div>
      </section>
    </form>
  </div>
</div>
<app-footer></app-footer>
