$body-bg: #fff;
$body-color: #212529;
$white: #fff;
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$grid-breakpoints: (
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
);
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$theme-colors: (
        "primary": #19578c,
        "secondary": #000000,
        "info": #17a2b8
);
@import 'bootstrap';
//@import '../../../../../node_modules/bootstrap';

@function get-theme-color($key) {
  @return map-get($theme-colors, $key);
}

body {
  color: $body-color;
  background-color: $body-bg;
  font-family: $font-family-base;
}

header {
  box-shadow: 10px 10px 26px -7px rgba(0,0,0,0.54);
}
